<form (ngSubmit)="createAccount()" [formGroup]=accountForm>
  <h3>Cadastrar Conta</h3>
  <div class="grid">

    <mat-form-field appearance="fill" class="col-6">
      <mat-label>Nome do titular</mat-label>
      <input autocomplete="off" formControlName="titular" matInput placeholder="Ex: Maria da Silva">
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-3">
      <mat-label>Saldo inicial</mat-label>
      <input type="number" min="0" formControlName="saldo" matInput placeholder="Ex: R$ 150,20">
    </mat-form-field>

    <div class="col-12 pt-0">
      <button [disabled]="accountForm.invalid" color="primary" mat-raised-button type="submit">Salvar</button>

    </div>
  </div>

</form>

<app-list-accounts></app-list-accounts>
