<form (ngSubmit)="salvarDespesaFixa()" [formGroup]=despesaFixaForm>
  <h3>Cadastrar Gastos Fixos</h3>
  <div class="grid align-items-center">
    <div class="col-4">
      <mat-form-field appearance="fill" class="flex">
        <mat-label>Nome</mat-label>
        <input formControlName="nome" matInput placeholder="Ex: Gás, Internet">
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field class="flex">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoriaId">
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nome}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field class="flex">
        <mat-label>Data de vencimento</mat-label>
        <input [matDatepicker]="picker" formControlName="vencimento" matInput>
        <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field appearance="fill" class="flex">
        <mat-label>Valor</mat-label>
        <input formControlName="valor" matInput placeholder="Ex: 125.42">
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-checkbox formControlName="pago">Pago</mat-checkbox>
    </div>

    <div class="col-12 pt-0">
      <button [disabled]="despesaFixaForm.invalid" color="primary" mat-raised-button type="submit">Salvar</button>
    </div>
  </div>
</form>


<!-- Tabela Despesas Fixas -->
<app-list-contas-fixas></app-list-contas-fixas>
