<form (ngSubmit)="salvarCategoria()" [formGroup]=categoriaForm>
  <h3>Cadastrar Categoria</h3>

  <div class="grid">
    <div class="col-6">
      <mat-form-field appearance="fill" class="flex">
        <mat-label>Nome da Categoria</mat-label>
        <input formControlName="nome" matInput placeholder="Ex: Alimentação">
      </mat-form-field>
    </div>
    <div class="col-12 pt-0">
      <button color="primary" mat-raised-button type="submit">Salvar</button>
    </div>

  </div>


</form>

<!-- Tabela Categorias -->
<h3>Categorias</h3>
<table [dataSource]="categorias" mat-table>

  <!-- Categoria Column -->
  <ng-container matColumnDef="nome">
    <th *matHeaderCellDef mat-header-cell> Nome</th>
    <td *matCellDef="let categoria" mat-cell> {{ categoria.nome }} </td>
  </ng-container>


  <tr *matHeaderRowDef="displayedColumnsCategoria" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumnsCategoria;" mat-row></tr>
</table>

