<form (ngSubmit)="salvarGastoRecorrente()" [formGroup]=gastosRecorrentes>
  <h3>Cadastrar Gastos Recorrentes</h3>
  <div class="grid">

    <div class="col-4">
      <mat-form-field appearance="fill" class="flex">
        <mat-label>Descrição</mat-label>
        <input formControlName="descricao" matInput placeholder="Ex: Tênis Adidas">
      </mat-form-field>
    </div>


    <div class="col-4">
      <mat-form-field appearance="fill" class="flex">
        <mat-label>Valor</mat-label>
        <input formControlName="valor" matInput placeholder="Ex: 125.42">
      </mat-form-field>
    </div>


    <div class="col-4">
      <mat-form-field class="flex">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoriaId">
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nome}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field class="flex">
        <mat-label>Cartão</mat-label>
        <mat-select formControlName="cartaoId">
          <mat-option *ngFor="let cartao of cartoes" [value]="cartao.id">{{cartao.nome}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field class="flex">
        <mat-label>Data da compra</mat-label>
        <input [matDatepicker]="picker" formControlName="data" matInput>
        <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-12 pt-0">
      <button [disabled]="gastosRecorrentes.invalid" color="primary" mat-raised-button type="submit">Salvar</button>
    </div>
  </div>
</form>


<!-- Tabela Despesas Recorrentes -->
<app-list-despesas-recorrentes></app-list-despesas-recorrentes>

