<div>
  <table mat-table [dataSource]="financas">

    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let financa"> {{ financa.nome }} </td>
    </ng-container>

    <!-- Categoria Column -->
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let financa"> {{ financa.categoria.nome }} </td>
    </ng-container>

    <!-- Vencimento Column -->
    <ng-container matColumnDef="vencimento">
      <th mat-header-cell *matHeaderCellDef> Vencimento </th>
      <td mat-cell *matCellDef="let financa"> {{ financa.vencimento | date }} </td>
    </ng-container>

    <!-- Valor Column -->
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let financa"> {{ financa.valor | currency:'BRL':'symbol':'1.2-2' }} </td>
    </ng-container>

    <!-- Pago Column -->
    <ng-container matColumnDef="pago">
      <th mat-header-cell *matHeaderCellDef> Pago </th>
      <td mat-cell *matCellDef="let financa"> {{ financa.pago ? 'Sim' : 'Não' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
