/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevenir qualquer scroll na página principal */
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: fixed; /* Fixa o body para evitar scroll */
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1200px; /* Define a largura máxima do container */
  margin: 0 auto; /* Centraliza o container na página */
  padding: 20px; /* Adiciona espaçamento interno ao conteúdo do container */
  box-sizing: border-box; /* Garante que a largura e altura incluem padding e bordas */
}

/* Permitir scroll apenas em containers específicos */
.scrollable-content {
  overflow-y: auto;
  height: 100%;
}
