<form [formGroup]=cartaoForm (ngSubmit)="salvarCartao()">
  <mat-form-field appearance="fill">
      <mat-label>Nome do Cartão</mat-label>
      <input matInput formControlName="nome" placeholder="Ex: Mastercard Black Inter Gourmet">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Data de Vencimento</mat-label>
    <input matInput formControlName="vencimento" placeholder="Ex: 15">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Salvar</button>
</form>
